<footer class="menu-footer">
  <a routerLink="swiper" class="boton-menu-footer">
    <i class="fa-solid fa-house"></i>
    <span class="letra-x-sm">Artículos</span>
  </a>
  <a routerLink="favoritos" class="boton-menu-footer">
    <i class="fa-solid fa-heart" [style.color]="_ctdFavotiros > 0 ? 'red' : ''">
    </i>
    <span class="letra-x-sm">Mis Favoritos</span>
    <span
      *ngIf="_ctdFavotiros > 0"
      class="ctd-favoritos"
      [style.color]="_ctdFavotiros > 0 ? 'red' : ''"
      >{{ _ctdFavotiros }}</span
    >
  </a>
  <a routerLink="feed" class="boton-menu-footer">
    <i class="fa-solid fa-store"> </i>
    <span class="letra-x-sm">Tienda</span>
  </a>
  <a routerLink="carrito" class="boton-menu-footer">
    <i
      class="fa-solid fa-money-check-dollar"
      [style.color]="_ctdPedidos > 0 ? 'green' : ''"
    >
    </i>
    <span class="letra-x-sm">Mi Pedido</span>
    <span
      *ngIf="_ctdPedidos > 0"
      class="ctd-favoritos"
      [style.color]="_ctdPedidos > 0 ? 'green' : ''"
      >{{ _ctdPedidos }}</span
    >
  </a>
</footer>
