<footer class="menu-footer">
  <a routerLink="swiper" class="boton-menu-footer">
    <i class="fa-solid fa-house"></i>
    <span class="letra-x-sm">Artículos</span>
  </a>
  <a class="boton-menu-footer">
    <i class="fa-solid fa-heart"> </i>
    <span class="letra-x-sm">Favoritos</span>
  </a>
  <a routerLink="feed" class="boton-menu-footer">
    <i class="fa-solid fa-store"> </i>
    <span class="letra-x-sm">Tienda</span>
  </a>
  <a routerLink="carrito" class="boton-menu-footer">
    <i class="fa-solid fa-money-check-dollar"> </i>
    <span class="letra-x-sm">Pedido</span>
  </a>
</footer>
