<div class="grid-container-carrito">
  <div *ngFor="let item of _favoritos" class="grid-conteiner-articulo">
    <div
      class="grid-item-carrito tall"
      [ngStyle]="{
        'background-image': 'url(\'' + item.articulo.imagen + '\')'
      }"
      (click)="articuloVenta(item.articulo)"
    >
      <div class="overlay"></div>
    </div>
    <div class="datos-compra" (click)="articuloVenta(item.articulo)">
      <span>{{ item.articulo.nomArticulo }}</span>
      <span>precio: {{ item.articulo.precio | currency }}</span>
      <span>cantidad: {{ item.cantidad }}</span>
      <span>importe: {{ item.importe | currency }} </span>
    </div>
    <div>
      <button
        (click)="addFavorito(item.articulo)"
        [ngClass]="getFavorito(item.articulo) ? 'favorito' : ''"
      >
        <i class="fa-solid fa-heart"></i>
      </button>
    </div>
  </div>
</div>
