.feed-container {
  display: flex;
  flex-direction: column;
}

.feed-perfil {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  z-index: 3;
}

.feed-menu {
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  font-size: small;
}

.feed-articulos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 5px;
  padding: 5px;
}

.feed-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.feed-texto {
  text-align: left;
  overflow: hidden;
  font-size: x-small;
}
