.loader {
  border-top: 50px solid blue;
  border-right: 50px solid green;
  border-bottom: 50px solid red;
  border-left: 50px solid pink;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  animation: spin 2s linear infinite;

  margin: 200px 10px 10px 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
