@import url(https://fonts.googleapis.com/css?family=Andika);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swa);

* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

html {
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: 100vh;
  height: -webkit-fill-available;
  scroll-behavior: smooth !important;
}

:root {
  --input-size: 48px;
  --input-margin: 5px;
  --input-border: 1px solid white;
  --text-color: white;
  --transition-time: 300ms;

  /*MEDIDAS GLIDE*/
  --safe-area-inset-bottom: 34px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: 100vh;
  height: -webkit-fill-available;

  position: relative;
}

.grid-container > * {
  text-align: center;
}

.menu-header {
  /* grid-area: header; */
  position: fixed;
  color: black;
  /* opacity: 0.1; */
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 2;
}

.menu-header-swiper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  width: 100%;
  top: 0;
  z-index: 5;
  color: white;
  height: 50px;
}

.imagen-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
  position: absolute;
}

.articulo-titulo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: Roboto;
  font-size: large;
  position: absolute;
  bottom: 0;
  color: var(--text-color);
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));*/
  /* width: 95%; */
  padding: 10%;
  border-radius: 5%;
  z-index: 2;
}

.articulo-botones {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Roboto;
  font-size: large;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));*/
  /* width: 95%; */
  padding: 10px;
  z-index: 3;
  margin-right: 10px;
}

.boton-add-carrito {
  padding: 10px;
  margin: 10px;
}

button {
  width: var(--input-size);
  height: var(--input-size);
  border: var(--input-border);
  border-radius: 50%;
  outline: none;
  background-color: Transparent;
  font-size: 24px;
  color: var(--text-color);
  margin: var(--input-margin);
  transition: var(--transition-time);
  /* box-shadow: 0 2px 25px rgba(255, 223, 0, 0.5); */
}

button:hover,
input:hover {
  box-shadow: 0 0 10px var(--text-color), inset 0 0 10px var(--text-color);
  transition: var(--transition-time);
}

.text-button {
  width: auto;
  border-radius: 0;
  border-top-right-radius: var(--input-size);
  border-bottom-right-radius: var(--input-size);
  border-bottom-left-radius: var(--input-size);
  border-top-left-radius: var(--input-size);
  padding: 0 calc(var(--input-size) / 2);
}

.menu-footer {
  /* grid-area: footer; */
  padding: 15px;
  background: black;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* flex-grow: 1; */
  overflow: auto;
  white-space: nowrap;
  /* bottom: 0; */
  /* left: 0;*/
  z-index: 5;
}

.boton-menu-footer {
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
  color: var(--text-color);
}

.seccion-principal {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
  overflow-y: auto;
}

.boton-buscar-swiper {
  position: absolute;
}
