.swiper-slide {
  font-size: 18px;
  background: linear-gradient(45deg, rgb(173, 255, 246), rgb(221, 255, 219));
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  /* position: fixed; */
  width: 100%;
  background: linear-gradient(45deg, #000, transparent);
  /* height: 77vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  /* height: 100vh;*/
  position: absolute;
  height: calc(100% - 60px);
  top: 0;
  z-index: 1;
}
