<div class="feed-container">
  <div
    class="feed-perfil"
    [ngStyle]="{
      'background-image': 'url(\'' + _empresa.urlImagen + '\')'
    }"
  >
    <div class="overlay"></div>
  </div>
  <hr />
  <div class="feed-menu">
    <a>Artículos</a>
    <a>Catálogos</a>
    <a>Marcas</a>
  </div>
  <hr />
  <div class="feed-articulos">
    <div
      *ngFor="let item of _articulosList"
      class="feed-item"
      [ngStyle]="{
        'background-image': 'url(\'' + item.imagen + '\')'
      }"
    >
      <div class="overlay"></div>
      <div class="articulo-titulo">
        <span class="feed-texto">{{ item.nomArticulo }}</span>
      </div>
    </div>
  </div>
</div>
