<div class="feed-container">
  <div class="feed-perfil">
    <span>Nombre: {{ _empresa.razonsocial }}</span>
    <span>Descripción: {{ _empresa.descNegocio }}</span>
    <span>EMAIL: {{ _empresa.email }}</span>
    <span>FB: {{ _empresa.urlFaceBook }}</span>
    <span>IG: {{ _empresa.urlInstagram }}</span>
    <span>ctdArticuos: {{ _empresa.ctdArticulos }}</span>
    <span>ctdUsuario: {{ _empresa.ctdUsuarios }}</span>
  </div>
  <hr>
  <div class="feed-menu">
    <a>Artículos</a>
    <a>Calasificación</a>
    <a>Marcas</a>
  </div>
  <hr>
  <div class="feed-articulos"></div>
</div>
